<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthcare">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".table_13"
            android:label="@string/title_activity_table_13"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".Table_11"
            android:label="@string/title_activity_table_11"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_7_6_2"
            android:label="@string/title_activity_table_7_6_2"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_7_6_1_4"
            android:label="@string/title_activity_table_7_6_1_4"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_7_6_1_3"
            android:label="@string/title_activity_table_7_6_1_3"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_7_6_1_2"
            android:label="@string/title_activity_table_7_6_1_2"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_7_6_1_1"
            android:label="@string/title_activity_table_7_6_1"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_7_6"
            android:label="@string/title_activity_table_7_6"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_7_5"
            android:label="@string/title_activity_table_7_5"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_7_4_3_2"
            android:label="@string/title_activity_table_7_4_3_2"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_7_4_3_1"
            android:label="@string/title_activity_table_7_4_3_1"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_10_2"
            android:label="@string/title_activity_table_10_2"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_10_1"
            android:label="@string/title_activity_table_10_1"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_9_3"
            android:label="@string/title_activity_table_9_3"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_9_2"
            android:label="@string/title_activity_table_9_2"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_9_1"
            android:label="@string/title_activity_table_9_1"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_8_3"
            android:label="@string/title_activity_table_8_3"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_8_2"
            android:label="@string/title_activity_table_8_2"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_8_1"
            android:label="@string/title_activity_table_8_1"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_7_4_2"
            android:label="@string/title_activity_table_7_4_2"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_7_4_1"
            android:label="@string/title_activity_table_7_4_1"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_7_4"
            android:label="@string/title_activity_table_7_4"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_7_3"
            android:label="@string/title_activity_table_7_3"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_7_2_2"
            android:label="@string/title_activity_table_7_2_2"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_7_2_3"
            android:label="@string/title_activity_table_7_2_3"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_7_2_1"
            android:label="@string/title_activity_table_7_2_1"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_7_2"
            android:label="@string/title_activity_table_7_2"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_7_1"
            android:label="@string/title_activity_table_7_1"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_6_4_5_3"
            android:label="@string/title_activity_table_6_4_5_3"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_6_4_5_2"
            android:label="@string/title_activity_table_6_4_5_2"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_6_4_5_1"
            android:label="@string/title_activity_table_6_4_5_1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".table_6_7"
            android:label="@string/title_activity_table_6_7"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_6_6"
            android:label="@string/title_activity_table_6_6"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_6_5"
            android:label="@string/title_activity_table_6_5"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_6_4_6"
            android:label="@string/title_activity_table_6_4_6"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_6_4_4"
            android:label="@string/title_activity_table_6_4_4"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_6_4_3"
            android:label="@string/title_activity_table_6_4_3"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table6_4_2"
            android:label="@string/title_activity_table6_4_2"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_6_4_1"
            android:label="@string/title_activity_table_6_4_1"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_6_3_5"
            android:label="@string/title_activity_table_6_3_5"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_6_3_4"
            android:label="@string/title_activity_table_6_3_4"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_6_3_3_2"
            android:label="@string/title_activity_table_6_3_3_2"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_6_3_3_1"
            android:label="@string/title_activity_table_6_3_3_1"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_6_3_2"
            android:label="@string/title_activity_table_6_3_2"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_6_3_1"
            android:label="@string/title_activity_table_6_3_1"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_6_2"
            android:label="@string/title_activity_table_6_2"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_6_1"
            android:label="@string/title_activity_table_6_1"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_5_4_4"
            android:label="@string/title_activity_table_5_4_4"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_5_4_3_4"
            android:label="@string/title_activity_table_5_4_3_4"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_5_4_3_3"
            android:label="@string/title_activity_table_5_4_3_3"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_5_4_3_2"
            android:label="@string/title_activity_table_5_4_3_2"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_5_4_3_1"
            android:label="@string/title_activity_tatle_5_4_3_1"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_5_4_2_3"
            android:label="@string/title_activity_table_5_4_2_3"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_5_4_2_2"
            android:label="@string/title_activity_table_5_4_2_2"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_5_4_2_1"
            android:label="@string/title_activity_table_5_4_2_1"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_5_4_1"
            android:label="@string/title_activity_table_5_4"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_5_3"
            android:label="@string/title_activity_table_5_3"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_5_2_2"
            android:label="@string/title_activity_table_5_2_2"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_5_2_1"
            android:label="@string/title_activity_table_5_2_1"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_5_2"
            android:label="@string/title_activity_table_5_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_5_1"
            android:label="@string/title_activity_table_5_1"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_4_1"
            android:label="@string/title_activity_table_4_1"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_3_3"
            android:label="@string/title_activity_table_3_3"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_3_2_2"
            android:label="@string/title_activity_table_3_2_2"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".table_3_2_1"
            android:label="@string/title_activity_table_3_2_1"
            android:parentActivityName=".Activity_2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".TableActivity"
            android:label="@string/title_activity_table"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity_2"
            android:label="@string/title_activity_2"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.healthcare.Activity_2" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>